
services:
  spark-master:
    image: apache/spark:3.5.1-scala2.12-java17-python3-ubuntu
    container_name: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "7077:7077"
      - "8080:8080"
      - "4040:4040"
    environment:
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
      - SPARK_PUBLIC_DNS=localhost
    volumes:
      - ./app:/opt/spark-app
      - ./data:/opt/spark-data
    networks:
      - spark-net

  spark-worker:
    image: apache/spark:3.5.1-scala2.12-java17-python3-ubuntu
    container_name: spark-worker
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    ports:
      - "8081:8081"
    environment:
      - SPARK_WORKER_CORES=4
      - SPARK_WORKER_MEMORY=4G
      - SPARK_WORKER_WEBUI_PORT=8081
      - SPARK_PUBLIC_DNS=localhost
    volumes:
      - ./app:/opt/spark-app
      - ./data:/opt/spark-data
    networks:
      - spark-net

  jupyter:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spark-jupyter
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/opt/spark-notebooks
      - ./data:/data
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    depends_on:
      - spark-master
    networks:
      - spark-net


networks:
  spark-net:
    driver: bridge